{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button href="" class="nav__button" id="back"><img width="24px" height="24px" src="/svg/left-arrow.svg"
                alt=""></button>
        <button href="" class="nav__button" id="forward"><img width="24px" height="24px" src="/svg/right-arrow.svg"
                alt=""></button>
        <button href="" class="nav__button" id="reload"><img width="24px" height="24px" src="/svg/reload.svg"
                alt=""></button>
        <button href="" class="nav__button" id="home"><img width="24px" height="24px" src="/svg/home.svg"
                alt=""></button>
        <input type="text" class="nav__input" id="input" />
        <button href="" class="nav__button" id="go"><img width="24px" height="24px" src="/svg/go.svg" alt=""></button>
    </nav>

</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}